{% extends 'base.html' %} {% block title %} Evento {% endblock %} 
{%block script%}
  <script src="{{ url_for('static', filename='event_script.js') }}"></script>
{% endblock %}

{% block content%}
<div class="container">
  <main>
    <div class="share-icons">
      <span>Compartilhe:</span>
      <a href="https://www.linkedin.com/in/{{ event.linkedin }}/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/{{ event.instagram }}/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>

    <h1 class="Campeonato">{{ event.title }}</h1>

    <div class="event-details">
      <span><i class="fas fa-map-marker-alt"></i>{{ event.state }}</span>
      <span><i class="fas fa-calendar-alt"></i> {{ event.eventDates['start'] }} - {{ event.eventDates['end'] }}</span>
    </div>

    <section class="regulation">
      <h2>Regulamento e Informações Gerais</h2>

      <ol>
        <li>
          <strong>Sobre o Campeonato</strong>
          {{ event.event_description }}
        </li>
        <li>
          <strong>Local dos Jogos</strong>
          <ul>
            <li>
             {{ event.address }}
            </li>
          </ul>
        </li>
        <li>
          <strong>Categorias de Inscrição</strong>
          <ul>
            <li>
              <b>Inscrição de Time:</b> Será possível se insrever no máximo {{ event.totalTeams }} times, mais comissão técnica.
            </li>
            <li>
              <b>Inscrição Individual:</b> Para jogadoras sem time, É possível se inscrever com no máximo {{ event.totalPlayers }}.
            </li>
          </ul>
        </li>
        <li>
          <strong>Documentos e Requisitos Obrigatórios</strong>
          <ul>
            <li>Idade mínima: {{ event.eventAge['min'] }} anos até a data da inscrição.</li>
            <li>Idade mínima: {{ event.eventAge['max'] }} anos</li>
            <li>Cópia digitalizada de documento de identificação.</li>
            <li>
              Atestado médico de aptidão para prática de atividade física,
              emitido nos últimos 6 meses.
            </li>
          </ul>
        </li>
        <li>
          <strong>Prazos e Taxas</strong>
          <p>
            💰 Inscrição por Time: R$ {{ event.eventCostTeam }}.
          </p>
          <p>💰 Inscrição Individual: R$ {{ event.eventCostPlayer }}</p>
        </li>
        <li>
          <strong>Premiação</strong>
          <ul>
            {{ event.reward_description }}
          </ul>
        </li>
      </ol>
    </section>
  </main>

  <!-- FORMULÁRIO -->
  <aside id="form-container">
    <div class="form-wrapper">
      <h2>Candidatar-se para o campeonato</h2>
      <div class="tabs">
        <button class="tab-button active" id="btn-individual" type="button">
          1. Individual
        </button>
        <button class="tab-button" id="btn-time" type="button">2. Time</button>
      </div>

      <!-- Formulário Individual -->
      <form method="POST" id="form-individual">
        <!-- Importante para assegurar e receber o token CSF -->
        {{ form.hidden_tag() }}

        <!-- campo escondido que vai receber o valor do localStorage -->
        <input type="hidden" name="form_type" value="individuals" />
        <div class="form-group">
          {{ form.cpf.label() }} {{ form.cpf(placeholder="00000000000") }}
        </div>
        <div class="form-group">
          {{ form.full_name.label() }} {{ form.full_name(placeholder="Nome Completo") }}
        </div>
        <div class="form-group">
          {{ form.birthday.label() }} {{ form.birthday() }}
        </div>
        <div class="form-group">
          {{ form.email.label() }} {{
          form.email(placeholder="email@exemplo.com") }}
        </div>

        <div class="form-group">
          {{ form.phone.label() }}
          <div class="phone-input-group">
            <span class="country-code">
              <img src="../static/assets/Brasil.png" alt="Bandeira do Brasil" />
              +55
            </span>
            {{ form.phone(placeholder="(00) 00000-0000") }}
          </div>
        </div>
        <div class="form-group">
          {{ form.state.label() }} {{ form.state() }}
        </div>
        <div class="form-group">
          {{ form.instagram.label() }} {{
          form.instagram(placeholder="@username")}}
        </div>
        <div class="form-group-checkbox">
          <input type="checkbox" id="terms" required />
          <label for="terms"
            >Eu li e concordo com os <a href="#">termos e condições</a>.</label
          >
        </div>

        {{ form.submit(class="btn-submit") }}
      </form>

      <!-- FORMULARIO TIME -->
      <form method="post" id="form-time" value="team" style="display: none">
        <!-- Importante para assegurar e receber o token CSF -->
        {{ teamForm.hidden_tag() }}

        <!-- campo escondido que vai receber o valor do localStorage -->
        <input type="hidden" name="form_type" value="teams" />
        <div class="form-group">
          {{ teamForm.cnpj.label() }} {{
          teamForm.cnpj(placeholder="00.000.000/0000-00")}}
        </div>

        <div class="form-group">
          {{ teamForm.team_name.label() }} {{
          teamForm.team_name(placeholder="Nome completo do time")}}
        </div>

        <div class="form-group">
          {{ teamForm.president_name.label() }} {{
          teamForm.president_name(placeholder="Nome completo") }}
        </div>

        <div class="form-group">
          {{ teamForm.teamEmail.label() }} {{
          teamForm.teamEmail(placeholder="email@exemplo.com") }}
        </div>

        <div class="form-group">
          {{ teamForm.teamPhone.label() }}
          <div class="phone-input-group">
            <span class="country-code">
              <img src="../static/assets/Brasil.png" alt="Bandeira do Brasil" />
              +55
            </span>
            {{ teamForm.teamPhone(placeholder="(00) 00000-0000") }}
          </div>
        </div>

        <!-- Implementar com BrasilAPI-->
        <div class="form-group">
          {{ teamForm.teamState.label() }} {{ teamForm.teamState() }}
        </div>

        <div class="form-group">
          {{ teamForm.players.label() }} {{ teamForm.players(placeholder="Ex:
          Maria Souza - 123.456.789-00") }}
        </div>

        <div class="form-group-checkbox">
          <input type="checkbox" id="terms-time" required />
          <label for="terms-time"
            >Eu li e concordo com os <a href="#">termos e condições</a>.</label
          >
        </div>

        {{ teamForm.submit(class="btn-submit") }}
      </form>
    </div>
  </aside>
</div>
{% endblock %}
