{% extends 'base.html' %} {% block title %} Login {% endblock %} {% block script
%}
<script src="{{ url_for('static', filename='login_script.js') }}"></script>
{% endblock %} {% block content %}
<div class="d-flex justify-content-between">
  <form
    method="POST"
    class="d-flex flex-column w-25 justify-content-center mx-auto"
  >
    {{ form.hidden_tag()}}
    <span
      class="position-absolute text-center mx-auto fw-bold text-warning bg-warning-subtle p-2 rounded-circle px-3"
      style="top: 25%; left: 28%;"
      data-bs-toggle="tooltip"
      data-bs-custom-class="custom-tooltip"
      data-bs-title="[ Acesse o login teste ] Email: teste@gmail.com Senha: 1234"
      ><i class="fa-solid fa-circle-info"></i>
      </span
    >
    <div class="text-center">
      <h2 class="fw-bold">Bem vindo de volta!</h2>
      <p class="fw-medium">
        Simplifique a organização dos seus jogos e torneios de futebol feminino
        com o nosso portal.
      </p>
    </div>
    <div class="form-group">
      {{ form.email.label() }} {{ form.email(class="form-control",
      placeholder="Email") }}
    </div>

    <div class="form-group">
      {{ form.password.label() }} {{ form.password(placeholder="Senha",
      id="inputPassword", class="form-control") }}
    </div>

    <div class="d-flex justify-content-between form-check">
      <div>
        <input
          type="checkbox"
          class="form-check-input"
          id="isPasswordVisible"
        />
        <label for="seePassword" class="form-check-label">Mostrar senha</label>
      </div>
      <a href="#" class="text-decoration-none text-black text-end mb-2"
        >Esqueceu a senha?</a
      >
    </div>

    {{ form.submit(class="btn-submit") }}
  </form>
  <img
    src="../static/assets/Sign Up form.png"
    alt="signup image"
    class="mx-5 my-4"
    style="width: 37%"
  />
</div>
{% endblock %}
