{% extends 'admin_base.html' %}

{% block admincontent %}
<section class="container-lg my-5 text-center">
    <div class="row justify-content-center mb-4">
        <input type="text" placeholder="Pesquise aqui..." class="form-control rounded-3 p-3" style="width: 75%;">
    </div>

    <div class="d-flex justify-content-center gap-4">
        {% if userEventsTotal > 0 %}
            {% for event in userEvents %}
                <article class="bg-white rounded-3 shadow-sm p-3" style="width: 21.25rem;">
                    <div class="border-bottom border-black pb-2 mb-3">
                        <h3 class="fs-5 mb-0 text-start">{{ event.title }}</h3>
                    </div>

                    <div class="d-flex justify-content-between px-2 mb-3">
                        <p class="fw-bold mb-0">
                            <i class="fa-solid fa-calendar-days text-pb-primary fs-5 me-1"></i> {{ event.eventDates['start'].split('-')[0]}} / {{event.eventDates['start'].split('-')[1] }}
                        </p>
                        <p class="fw-bold mb-0">
                            <i class="fa-solid fa-location-dot text-pb-primary fs-5 me-1"></i> {{ event.address }}
                        </p>
                    </div>

                    <div>
                        <a href="{{ url_for('event_page', event_id=event.id) }}" class="btn btn-pb-secondary w-100 fw-semibold" target="_blank">
                            Acessar Evento
                        </a>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <div>
                <h3>Você não possuí nenhum evento</h3>
                <a href="{{ url_for('admin_newEvent_page') }}" class="btn btn-pb-primary">Criar meu Evento</a>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
